/* src/pages/MoviePage.css */
.moviePage {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.moviePage__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 600px;
    text-align: center;
}

.moviePage__poster {
    width: 100%;
    max-width: 300px;
    border-radius: 10px;
}

.moviePage__info {
    margin-top: 20px;
}
